.movie-detail {
     background-color: #000000;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.site-link {
    color: lawngreen;
    font-weight: 700;
    text-decoration: none;
}