
.MovieSearchWrapper {
    margin: 0;
    padding: 1em;
}
.headline {
    margin: 2rem 1rem .5rem 1rem;
    padding: 0;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 32px;
    text-transform: uppercase;
}
.main-copy {
    margin: 0 1rem 2rem 1rem;
    padding: 0;
}
form {
    display: flex;
    flex-direction: column;
    margin: 2em 1em 1em 1em;
}
.form-label {
    font-weight: bold;
    margin-bottom: .5em;
    margin-left: .5em;
}
input {
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid lawngreen;
    border-radius: 50px;
}
select {
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid lawngreen;
    border-radius: 50px;
    color: rgba(0, 0, 0, .5);
}
#filter .filter-option {
    margin: 40px !important;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

form > .btn {
    /* max-width: 50%; */
    padding: 1em;
    align-self: center;
    font-weight: bold;
}
button:focus, input:focus, select:focus{
    outline: none;
}

@media only screen and (min-width: 600px) {
    .MovieSearchWrapper {
        width: 400px;
        margin: 4em auto;
    }
}