.page-heading {
    margin-left: 1em;
}
.genre-name {
    padding: 0;
    margin: 0;
}
.genre-heading {
    margin-bottom: .5em;
}
.single-movie-box {
    padding-bottom: 6em;
}
.watchlist-button {
    margin-left: 1em;
    margin-top: 1em;
}
.movie-results:first-of-type {
    visibility: none;
}
.movie.details:first-of-type {
    visibility: hidden;
}