.watchlist-headline {
    margin: 2rem;
}
.watchlist-container {
    padding-bottom: 6em;
}

@media only screen and (min-width: 600px) {
    .watchlist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .watchlist-card {
        display: flex;
        width: 75%;
        flex-direction: row;
        padding: 2rem;
        box-sizing: border-box;
    }
    .watchlist-card > .movie-results {
        width: 33%; 
        max-width: 33%;
        padding: 0;
        margin: 0;
    }
    .watchlist-card > .movie-detail {
        width: 66%; 
        max-width: 66%;
        padding: 0 0 0 1.5em;
        margin: 0;
    }
}